/Debug
/Release
/.vs/main/v14
/.vs/gimbal/v14/.atsuo
/pc-app/Debug
/pc-app/Release
/pc-app/GimbalCtrl.aps
/pc-app/GimbalCtrl.opensdf
/pc-app/GimbalCtrl.sdf
/pc-app/GimbalCtrl.suo
/pc-app/ipch/gimbalctrl-16a74398/*.ipch
/pc-app/ipch/gimbalctrl-9832d09a/*.ipch
/pc-app/GimbalCtrl.VC.db
/pc-app/x64/Debug
/pc-app/x64/Release
